Options +FollowSymLinks
RewriteEngine On

# Wenn ein Anfrage auf ein File oder Directory gemacht wird, das nicht existiert,
# leite auf index.php um 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^.*$ ./index.php